md-dialog {

    .div-loader {
        position: relative;
        height: 350px;
        .ajax-loader {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -32px; /* -1 * image width / 2 */
            margin-top: -32px; /* -1 * image height / 2 */
        }
    }

    .tab-in-content {
        md-tabs-wrapper {
            display: none;
        }
    }
    // Profile boxes
    .profile-box {
        margin-bottom: 16px;

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                }

                .info {

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .actionsSpace {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
        li {
            display: inline;
            a, span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
            }
            &:first-child {
                a, span {
                    margin-left: 0;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
            }
            &:last-child {
                a, span {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
            a:hover, span:hover, a:focus, span:focus {
                z-index: 2;
                color: #23527c;
                background-color: #eee;
                border-color: #ddd;
            }
        }
        .active {
            a, span, a:hover, span:hover, a:focus, span:focus {
                z-index: 3;
                color: #fff;
                cursor: default;
                background-color: #337ab7;
                border-color: #337ab7;
            }
        }
        .disabled {
            span {
                color: #777;
                cursor: not-allowed;
                background-color: #fff;
                border-color: #ddd;
                &:hover, &:focus {
                    color: #777;
                    cursor: not-allowed;
                    background-color: #fff;
                    border-color: #ddd;
                }
            }
            a {
                color: #777;
                cursor: not-allowed;
                background-color: #fff;
                border-color: #ddd;
                &:hover, &:focus {
                    color: #777;
                    cursor: not-allowed;
                    background-color: #fff;
                    border-color: #ddd;
                }
            }
        }
    }

    .thread-list {
        position: relative;
        padding: 0;
        .no-threads {
            background: #FAFAFA;
            width: 100%;
            text-align: center;
            padding: 32px;
            font-size: 20px;
        }
        .loading-threads {
            background: #FAFAFA;
            width: 100%;
            text-align: center;
            padding: 32px;
            font-size: 20px;
        }
        .thread {
            background: #FAFAFA;
            position: relative;
            padding: 16px 24px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            cursor: pointer;
            &.unread {
                background: #FFFFFF;
                .info {
                    .name{
                        font-weight: 700;
                    }
                }
            }
            &.selected {
                background: #FFF8E1;
            }
            &.current-thread {
                background: #E3F2FD;
            }
            .info {
                overflow: hidden;
                width: 0;
                margin: 0 16px;
                .name {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 8px;
                }
            }
            .actions {
                .label {
                    padding: 3px; 
                    border-radius: 10px; 
                    font-size: 16px;
                }
            }
        }
    }

    &.compose-dialog {
        max-width: 720px;
        width: 720px;

        md-dialog-content {
            display: block;
            position: relative;
            min-height: 350px;

            .md-datepicker-input {
                min-width: 220px;
            }
        }

        .md-dialog-list-content {
            padding: 0 0 0 0;
        }

        md-toolbar {

            .title {
                font-size: 17px;
            }
        }

        .message-editor {

        }

        .to {
            position: relative;

            &.hidden-cc {

                input {
                    padding-right: 32px;
                }

                &.hidden-bcc {

                    input {
                        padding-right: 56px;
                    }
                }
            }

            &.hidden-bcc {

                input {
                    padding-right: 32px;
                }
            }

            .cc-bcc {
                position: absolute;
                bottom: 8px;
                right: 0;

                .show-cc,
                .show-bcc {
                    cursor: pointer;
                    font-size: 12px;
                }

                .show-bcc {
                    margin-left: 8px;
                }
            }

        }

        .attachment-list {
            font-size: 13px;
            padding-top: 16px;

            .attachment {
                background-color: rgba(0, 0, 0, 0.08);
                border: 1px solid rgba(0, 0, 0, 0.16);
                padding-left: 16px;
                margin-top: 8px;
                border-radius: 2px;

                .filename {
                    font-weight: 500;
                }

                .size {

                }

                .md-button {
                    margin: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        md-dialog-actions {
            position: relative;
            justify-content: space-between;
            border-top: 1px solid rgba(0, 0, 0, 0.12);
            background-color: rgba(0, 0, 0, 0.03);
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {

    md-dialog {

        &.compose-dialog {
            width: 80%;
        }
    }
}

@media screen and (max-width: $layout-breakpoint-xs) {

    md-dialog {

        &.compose-dialog {
            width: 90%;
        }
    }
}