<md-dialog class="compose-dialog" aria-label="New Message" ms-scroll>
    <md-toolbar class="md-accent md-hue-2" layout="row">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate
                translate-aria-label="MAIL.CLOSE_DIALOG">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content ms-scroll flex layout-fill>
        <ms-widget flippable="true" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="25">

            <!-- Front -->
            <ms-widget-front class="white-bg">
                <div ng-include="'app/main/dkpos/product/product-edit/basicInfo.html'"></div>
            </ms-widget-front>
            <!-- / Front -->

            <!-- Back -->
            <ms-widget-back class="p-16 white-bg">
                <div class="flip-to-front">
                    <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                        <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                    </md-button>
                </div>

                <div>
                    {{vm.widget1.detail}}
                </div>
            </ms-widget-back>
            <!-- / Back -->

        </ms-widget>


    </md-dialog-content>
</md-dialog>