<div id="invoice" class="compact page-layout blank" layout="row" ms-scroll>
    <div class="invoice-container">

        <!-- INVOICE -->
        <div class="card md-whiteframe-8dp">

            <div class="header">
                <div class="invoice-date">{{vm.actualDate| date: 'MMM dd, yyyy'}}</div>

                <div layout="row" layout-align="space-between stretch">
                    <div class="client">
                        <div class="invoice-number" layout="row" layout-align="start center">
                            <span class="title">Factura No.</span>
                            <span class="number">{{vm.invoice.correlative}}</span>
                        </div>

                        <div class="due-date" layout="row" layout-align="start center">
                            <span class="title">Fecha</span>
                            <span class="date">{{vm.invoice.dateInvoice| date: 'dd/MM/yyyy'}}</span>
                        </div>

                        <div class="info">
                            <div class="title">{{vm.invoice.customer.person.name}}
                                {{vm.invoice.customer.person.lastName}}</div>
                            <div ng-if="vm.invoice.customer.customerCode" class="address">{{vm.invoice.customer.customerCode}}</div>
                            <div ng-if="vm.invoice.customer.person.address" class="address">{{vm.invoice.customer.person.address}}</div>
                            <div ng-if="vm.invoice.customer.person.phone" class="phone">{{vm.invoice.customer.person.phone}}</div>
                        </div>
                    </div>

                    <div class="issuer md-accent-bg" layout="row" layout-align="start center">
                        <div class="logo" layout="row" layout-align="center center">
                            <span>F</span>
                        </div>

                        <div class="info">
                            <div class="title">{{vm.invoice.from.title}}</div>
                            <div ng-if="vm.invoice.from.address" class="address">{{vm.invoice.from.address}}</div>
                            <div ng-if="vm.invoice.from.phone" class="phone">{{vm.invoice.from.phone}}</div>
                            <div ng-if="vm.invoice.from.email" class="email">{{vm.invoice.from.email}}</div>
                            <div ng-if="vm.invoice.from.website" class="website">{{vm.invoice.from.website}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div ng-hide="vm.invoice.active">
                    <span style="font-size: 105px;
                    position: absolute;
                    top: 300px;
                    left: 350px;
                    color: red;">ANULADA</span>
                </div>
                <table class="simple invoice-table">
                    <thead>
                        <th>Descripción</th>
                        <th>Código</th>
                        <th class="text-right">Cantidad</th>
                        <th class="text-right">Precio</th>
                        <th class="text-right">Sub Total</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="detail in vm.invoiceDetail">
                            <td>
                                <div class="title">
                                    {{detail.product.description}}
                                </div>
                            </td>
                            <td>
                                {{detail.product.barCode}}
                            </td>
                            <td class="text-right">
                                {{detail.quantity}}
                            </td>
                            <td class="text-right">
                                {{detail.unitPrice | number:2}}
                            </td>
                            <td class="text-right">
                                {{detail.subTotal | number:2}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="simple invoice-table-footer">
                    <tbody>
                        <tr class="subtotal">
                            <td>TOTAL</td>
                            <td>{{vm.invoice.total | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- <div class="footer">
                <div class="note" translate="INVOICE.NOTE">Please pay within 15 days. Thank you for your business.</div>
                <div layout="row" layout-align="start start">
                    <div class="logo md-accent-bg" layout="row" layout-align="center center">
                        <div>F</div>
                    </div>
                    <div class="small-note" translate="INVOICE.SMALL_NOTE">
                        In condimentum malesuada efficitur. Mauris volutpat placerat auctor. Ut ac congue dolor.
                        Quisque
                        scelerisque lacus sed feugiat fermentum. Cras aliquet facilisis pellentesque. Nunc hendrerit
                        quam at leo commodo, a suscipit tellus dapibus. Etiam at felis volutpat est mollis lacinia.
                        Mauris placerat sem sit amet velit mollis, in porttitor ex finibus. Proin eu nibh id libero
                        tincidunt lacinia et eget eros.
                    </div>
                </div>
            </div> -->
        </div>
        <!-- / INVOICE -->

        <!-- Use the following element to add breaks to your pages -->
        <!-- This will make sure that the section after this element will be printed on a new page -->
        <div class="page-break"></div>

    </div>
</div>