<div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
    <div layout="row" layout-xs="column" class="md-block">
        <md-input-container flex="20" flex-xs="100">
            <label>Código</label>
            <input type="text" ng-model="vm.product.codeProduct">
        </md-input-container>
        <md-input-container flex>
            <label>Descripción</label>
            <input type="text" ng-model="vm.product.description" required>
        </md-input-container>
    </div>
    <div layout="row" layout-xs="column" class="md-block">
        <md-input-container class="md-icon-float" flex="50" flex-xs="100">
            <label>Precio Costo</label>
            <md-icon md-font-icon="icon icon-cash-multiple"></md-icon>
            <input type="number" step="0.01" ng-model="vm.product.actualCostPrice">
        </md-input-container>

        <md-input-container class="md-icon-float" flex>
            <label>Precio Venta</label>
            <md-icon md-font-icon="icon icon-cash-multiple"></md-icon>
            <input type="number" step="0.01" ng-model="vm.product.salePrice">
        </md-input-container>
    </div>
    <div layout="row" layout-xs="column" class="md-block">
        <md-input-container class="md-icon-float" flex>
            <label>Codigo de Barra(EAN)</label>
            <md-icon md-font-icon="icon icon-barcode"></md-icon>
            <input type="text" ng-model="vm.product.barCode">
        </md-input-container>

        <md-input-container flex="35" flex-xs="100">
            <label>Cantidad Inicial</label>
            <input type="number" step="1" ng-model="vm.product.stock">
        </md-input-container>
    </div>
</div>