<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to products" ng-click="vm.gotoProducts()"
                translate translate-attr-aria-label="EC.GO_TO_PRODUCTS">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div class="product-image" hide-xs>
                    <img ng-src="{{vm.product.pictureRef ? vm.product.pictureRef : 'assets/images/ecommerce/product-image-placeholder.png'}}">
                </div>

                <div layout="column" layout-align="start start">
                    <div class="h2">
                        {{vm.product.description}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{vm.product.barCode}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button class="md-raised md-background" ng-click="vm.saveProduct()" ng-disabled="!vm.isFormValid('productForm')">
                <span>Guardar</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>Información Básica</span>
                </md-tab-label>
                <md-tab-body>
                    <form id="productForm" name="productForm">
                        <div ng-include="'app/main/dkpos/product/product-edit/basicInfo.html'"></div>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <span>Imagen</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">

                        <div id="product-image-uploader" flow-init="vm.ngFlowOptions" flow-name="vm.ngFlow.flow"
                            flow-files-submitted="vm.upload()" flow-file-added="vm.fileAdded($file)" flow-file-success="vm.fileSuccess($file, $message)"
                            flow-complete="vm.uploadComplete()" flow-drop flow-drag-enter="vm.dropping=true"
                            flow-drag-leave="vm.dropping=false" ng-class="{'dropping':vm.dropping}">

                            <div class="drop-text hint-text" layout="row" layout-align="center center">
                                <span>Arrastre</span>
                            </div>

                            <div class="upload-button" layout="column" layout-align="center center">
                                <md-button class="md-accent md-raised" flow-btn>
                                    Subir
                                </md-button>
                                <span class="secondary-text mt-8">Puede arrastrar aqui la imagen para subirla. Solo
                                    PNG, JPG - Max. 8MB</span>
                            </div>

                            <div class="mv-32" layout="row" layout-align="center center">
                                <div class="image-zoom-area">
                                    <img wip-image-zoom="vm.imageZoomOptions">
                                </div>
                            </div>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>