#e-commerce-invoice-edit {
    .center {
        .datasCustomer {
            md-input-container {
                margin-top: 0;
                label {
                    color: #fff;
                }
                input {
                    border-color: #fff;
                    color: #fff;
                }
                .md-errors-spacer {
                    display: none;
                }
            }
            .disticttext {
                margin-bottom: 5px;
            }
        }
        .header {
            height: 136px !important;
            min-height: 136px !important;
            max-height: 136px !important;
            padding: 24px 0;
            .goto-orders-button {
                margin-right: 16px;
            }
            .subtitle {
                margin: 6px 0 0 0;
            }
        }
        .content-card {
            .toolbar {
                padding: 8px;
            }
            .content {
                padding: 0;
                .dataTables_wrapper {
                    .dataTables_scrollHead {
                        min-height: 64px;
                        table {
                            min-height: 200px;
                            th {
                                padding-top: 20px;
                                padding-bottom: 20px;
                            }
                        }
                    }
                    .dataTables_scrollBody {
                        .product-image {
                            width: 52px;
                            height: 52px;
                            border: 1px solid rgba(0, 0, 0, 0.12);
                        }
                        .quantity-indicator {
                            display: inline-block;
                            vertical-align: middle;
                            border-radius: 10px;
                            margin-right: 8px;
                            margin-left: 8px;
                            font-weight: bold;
                            &+div {
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                        .edit-button {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .addproduct {
        position: fixed;
        right: 10px;
        bottom: 10px;
    }
}