<div id="e-commerce-invoice-edit" class="page-layout carded fullwidth" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <div>
                
                
                
            </div>

            <div layout="column" layout-align="start start">
                <div class="h2">
                    <span>Factura No.</span>
                    <span>{{vm.invoice.correlative}}</span>
                </div>

                <div class="subtitle secondary-text">
                    <span>Cliente</span>
                    <span>{{vm.invoice.customer.person.name}} {{vm.invoice.customer.person.lastName}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <div layout="row">
                        <md-icon md-font-icon="icon-account" class="m-0 mr-16"></md-icon>
                        <div class="h2 secondary-text" translate="EC.CUSTOMER">Customer</div>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div class="customer">
                    <table class="simple" ms-responsive-table>
                        <thead>
                            <tr>
                                <th translate="EC.NAME">Name</th>
                                <th translate="EC.EMAIL">Email</th>
                                <th translate="EC.PHONE">Phone</th>
                                <th translate="EC.COMPANY">Company</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div layout="row" layout-align="start center">
                                        <img class="avatar" ng-src="{{vm.invoice.customer.avatar}}">
                                        <span class="name text-nowrap">{{vm.invoice.customer.firstName}}
                                            {{vm.invoice.customer.lastName}}</span>
                                    </div>
                                </td>
                                <td>
                                    <span class="email">{{vm.invoice.customer.email}}</span>
                                </td>
                                <td>
                                    <span class="phone">{{vm.invoice.customer.phone}}</span>
                                </td>
                                <td>
                                    <span class="phone">{{vm.invoice.customer.company}}</span>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </md-card-content>
        </md-card>

        <div class="invoice-detail-form-container products md-background-bg md-whiteframe-1dp">
            <table class="dataTable row-binvoice hover" datatable="ng" dt-instance="vm.dtInstance" dt-options="vm.dtOptions">
                <thead>
                    <tr>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">ID</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Image</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Name</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Price</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Quantity</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Actions</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in ::vm.invoice.products">
                        <td>{{product.id}}</td>
                        <td><img class="product-image" ng-src="{{product.image}}"></td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.quantity}}</td>
                        <td>
                            <md-button class="edit-button md-icon-button" ng-click="vm.gotoProductDetail(product.id)"
                                aria-label="Product details" translate translate-attr-aria-label="EC.PRODUCT_DETAILS">
                                <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- / CONTENT -->
</div>