<div layout="row" layout-align="start center">
    <div layout="row" layout-align="start center" flex>

        <div class="logo" layout="row" layout-align="start center">
            <span class="logo-image">DK</span>
            <span class="logo-text">DkPOS</span>
        </div>

        <div class="toolbar-separator"></div>

        <md-button id="navigation-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('navigation')" hide-gt-sm
            aria-label="Toggle navigation" translate translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
        </md-button>

        <md-button class="md-icon-button navigation-fold-toggle" hide show-gt-sm aria-label="Toggle navigation fold"
            translate translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION_FOLD" ng-click="vm.toggleMsNavigationFolded()">
            <md-icon class="s18" md-font-icon="icon-backburger"></md-icon>
        </md-button>

        <ms-shortcuts></ms-shortcuts>

        <div class="toolbar-separator"></div>
    </div>

    <div layout="row" layout-align="start center">
        <md-progress-circular id="toolbar-progress" ng-if="$root.loadingProgress" class="md-accent" md-mode="indeterminate"
            md-diameter="32">
        </md-progress-circular>

        <md-menu-bar id="user-menu">
            <md-menu md-position-mode="left bottom">
                <md-button class="user-button" ng-click="$mdOpenMenu()" aria-label="User settings" translate
                    translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                    <div layout="row" layout-align="space-between center">
                        <div class="avatar-wrapper">
                            <img md-menu-align-target class="avatar" src="assets/images/avatars/profile.jpg">
                            <md-icon md-font-icon ng-class="vm.userStatus.icon" ng-style="{'color': vm.userStatus.color }"
                                class="icon status s16">
                            </md-icon>
                        </div>
                        <span class="username" hide-sm>{{vm.userAccount.name}}</span>
                        <md-icon md-font-icon="icon-chevron-down" class="icon s16" hide-sm></md-icon>
                    </div>
                </md-button>

                <md-menu-content width="3">
                    <!-- <md-menu-item class="md-indent" ui-sref="app.pages_profile">
                        <md-icon md-font-icon="icon-account" class="icon"></md-icon>
                        <md-button>My Profile</md-button>
                    </md-menu-item>

                    <md-menu-item class="md-indent" ui-sref="app.mail">
                        <md-icon md-font-icon="icon-email" class="icon"></md-icon>
                        <md-button>Inbox</md-button>
                    </md-menu-item> 

                    <md-menu-divider></md-menu-divider>-->

                    <md-menu-item class="md-indent">
                        <md-icon md-font-icon="icon-logout" class="icon"></md-icon>
                        <md-button ng-click="vm.logout()">Salir</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </div>
</div>