<div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>DK</span>
            </div>

            <div class="title">Bienvenido a DkPOS</div>
            <form name="loginForm" novalidate ng-submit="vm.login(vm.form)">
                <md-input-container class="md-block" md-no-float>
                    <input type="text" name="email" ng-model="vm.form.email" placeholder="Email" translate
                        translate-attr-placeholder="Cuenta" required>

                    <div ng-messages="loginForm.email.$error" role="alert">
                        <div ng-message="required">
                            <span>Este campo es requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password" translate
                        translate-attr-placeholder="Contraseña" required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>Debe ingresar una contraseña</span>
                        </div>
                    </div>
                </md-input-container>

                <div class="remember-forgot-password" layout="row" layout-xs="column" layout-align="space-between center">
                    <a ui-sref="app.pages_auth_forgot-password" class="forgot-password md-accent-color">
                        Olvidé mi contraseña</a>
                </div>

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="LOG IN" ng-disabled="loginForm.$invalid || loginForm.$pristine"
                    translate-attr-aria-label="LOGIN.LOG_IN">
                    INGRESAR
                </md-button>
            </form>
        </div>
    </div>
</div>