<div id="e-commerce-provider" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to products" ng-click="vm.gotoProviders()"
                translate translate-attr-aria-label="EC.GO_TO_PRODUCTS">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="h2">
                        {{vm.proveedor.person.name}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{vm.proveedor.providerCode}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button class="md-raised md-background" ng-click="vm.saveProvider()" ng-disabled="!vm.isFormValid('providerForm')">
                <span>Guardar</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
            <form id="providerForm" name="providerForm">
                <md-input-container flex-gt-sm='50' flex='100'>
                    <label>Código de Proveedor</label>
                    <input type="text" ng-model="vm.proveedor.providerCode" name="ccode" required>
                </md-input-container>
                <div layout="row" class="md-block">
                    <md-input-container flex-gt-sm='50' flex='100'>
                        <label>Nombre</label>
                        <input type="text" ng-model="vm.proveedor.person.name" name="clname" required>
                    </md-input-container>
                    <md-input-container flex-gt-sm='50' flex='100'>
                        <label>Apellido</label>
                        <input type="text" ng-model="vm.proveedor.person.lastName" name="cllname">
                    </md-input-container>
                </div>
                <div layout="row" class="md-block">
                    <md-input-container flex-gt-sm='70' flex='100'>
                        <label>Dirección</label>
                        <input type="text" ng-model="vm.proveedor.person.address" name="address">
                    </md-input-container>
                    <md-input-container flex-gt-sm='30' flex='100'>
                        <label>Teléfono</label>
                        <input type="text" ng-model="vm.proveedor.person.phone" name="phone">
                    </md-input-container>
                </div>
            </form>
        </div>
    </div>
    <!-- / CONTENT -->
</div>