<div id="e-commerce-buy-edit" class="page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header white-fg datasProvider" layout="row" layout-align="start start">
            <div layout="column" flex>
                <div layout="row" layout-align="space-between start">
                    <div layout="column" layout-align="start space-between">
                        <div layout="row">
                            <md-input-container class="disticttext" style="margin-right:20px">
                                <label>Ingrese Nit</label>
                                <input ng-model="vm.provider.providerCode" ng-keypress="vm.searchProvider($event)">
                            </md-input-container>
                            <div layout="column">
                                <div class="h2 " flex>
                                    <span>{{vm.buy.provider.person.name}} {{vm.buy.provider.person.lastName}}</span>
                                </div>
                                <div class="subtitle " ng-show="vm.buy.provider.person.address" flex>
                                    <span style="margin-right:10px">Dirección:</span>
                                    <span flex>{{vm.buy.provider.person.address}}</span>
                                </div>
                            </div>
                        </div>
                        <md-input-container style="margin:0px;margin-top: 25px;" ng-show="vm.buy.provider.person">
                            <label>Código produto</label>
                            <input ng-model="vm.pcodigo" ng-keypress="vm.searchProduct($event)">
                        </md-input-container>
                    </div>
                    <div layout="column" layout-align="space-between end">
                        <div layout="column" flex layout-align="space-between end">
                            <div layout="row" layout-align="end center">
                                <div class="h2">
                                    <span>Compra No.</span>
                                    <span>{{vm.buy.correlative}}</span>
                                </div>
                            </div>
                            <span>
                                {{vm.today| date:'dd/MM/yyyy'}}
                            </span>
                        </div>
                        <md-button ng-disabled="!(vm.buyDetail.length > 0)" style="margin:0px;margin-top: 25px;"
                            flex class="md-raised" ng-click="vm.changeStatus();">Guardar</md-button>
                    </div>
                </div>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                    <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">ID</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Imagen</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Codigo</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Descripción</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Cantidad</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Precio</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Sub Total</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Acciones</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="byde in vm.buyDetail">
                            <td>{{byde.product.id}}</td>
                            <td><img class="product-image" ng-src="{{byde.product.pictureRef ? byde.product.pictureRef : 'assets/images/ecommerce/product-image-placeholder.png'}}"></td>
                            <td>{{byde.product.barCode}}</td>
                            <td>{{byde.product.description}}</td>
                            <td>
                                <md-input-container>
                                    <input aria-label="quantity" flex ng-model="byde.quantity" ng-keypress="vm.changeDatas($event, byde)" />
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container>
                                    <input aria-label="price" flex ng-model="byde.unitPrice" ng-keypress="vm.changeDatas($event, byde)" />
                                </md-input-container>
                            </td>
                            <td>{{(byde.quantity * byde.unitPrice) | number:2}}</td>
                            <td>
                                <md-button class="edit-button md-icon-button" ng-click="vm.deleteDetail(byde.id)"
                                    aria-label="Product details" translate translate-attr-aria-label="EC.PRODUCT_DETAILS">
                                    <md-icon md-font-icon="icon-delete" class="s16"></md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>